.myStyle {
    width: 100%;
    padding: 25px;
    background-color: blueviolet;
    color: #fff;
    font-size: 25px;
}

.myOtherStyle {
    width: 50%;
    padding: 25px;
    background-color: darkslategray;
    color: #fff;
    font-size: 30px;
}
